# SQLite database files
*.sqlite3
*.sqlite3-journal
*.sqlite3-wal

# Ruby/Bundler specific
.bundle/
vendor/bundle
.ruby-version
.ruby-gemset

# Environment specific
.env
.env.*

# OS specific
.DS_Store
*.swp
*~

# Log files
log/*
*.log

# Temp files
tmp/*

# Node dependencies
node_modules
node_modules/