<!DOCTYPE html>
<html>
<head>
  <title>Sinatra Wordle</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&family=VT323&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/styles.css">
  <style>
    /* ... existing styles ... */

    .player-info {
      position: absolute;
      top: 20px;
      right: 20px;
      font-family: 'VT323', 'Press Start 2P', monospace;
      font-size: 18px;
      color: #888;
    }
  </style>
</head>
<body>
  <div class="player-info">
    Playing as: <%= @current_player.name %>
  </div>
  <%= yield %>
</body>
</html>